html{
    color:aqua;
    font-family: monospace;
    font-size: 30pt;
    text-shadow: 2px 2px #ff0000;
}

.titleTop{
	font-size: 30px;
	font-kerning: auto;
	text-align:center;
	font-stretch: extra-condensed;
	font-weight: bolder;
	font-family: monospace;
}

body{
<<<<<<< HEAD
	background: url(images/x2background.gif);
	/*background-color: black;*/
/*	background-image: url("http://vignette2.wikia.nocookie.net/megaman/images/3/32/Mega_Man_X2_Box_Art.jpg");*/
=======
	background-color: black;
	background-image: url("https://sickr.files.wordpress.com/2012/06/mega_man.jpg");
>>>>>>> origin/master
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	background-position: center;
}

.description{
	margin-left: 75px;
	margin-right: 75px;
	font-family: monospace;
}

p.title{
		font-size: 30pt;
		font-family: cursive;
		color: red;
}

.topLogo{
		vertical-align: middle;
		text-align: center;
}

.info{
    font-size: 15pt;
}

.titleImage{
    /*background-color: green;
    border-radius: 5px 15px 10px;
    border-style: inset;
		border-width: 12px;*/
		background-image: url();
		width: 50%;
		height: 50%;
}

.mavs{
    background-color: green;
    border-radius: 5px 15px 10px;
    border-style: groove;
    border-width: 7px;
<<<<<<< HEAD

=======
		border-color: brown;
>>>>>>> origin/master
    width: 100px;
    height: 100px;
}

.xHunters{
    background-color: blue;
    border-radius: 5px 15px 10px;
    border-style: groove;
    border-width: 7px;
		border-color: silver;
    width: 100px;
    height: 100px;
}

.sigma{
    background-color: red;
    border-radius: 5px 15px 10px;
    border-style: groove;
    border-width: 7px;
		border-color: gold;
    width: 100px;
    height: 100px;
}



p.category{
    text-decoration: underline;
}
