.titleTop{
	font-size: 30px;
	font-kerning: auto;
	text-align:center;
	font-stretch: extra-condensed;
	font-weight: bolder;
	font-family: monospace;
}

body{
	background-color: black;
/*	background-image: url("http://vignette2.wikia.nocookie.net/megaman/images/3/32/Mega_Man_X2_Box_Art.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.description{
	margin-left: 75px;
	margin-right: 75px;
	font-family: monospace;
}

p.title{
		font-size: 30pt;
		font-family: cursive;
		color: red;
}

.topLogo{
		vertical-align: middle;
		text-align: center;
}


html{
    color:aqua;
    font-family: monospace;
    font-size: 30pt;
    text-shadow: 2px 2px #ff0000;
}
